{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1 class="pt-5 pb-3">Profile table</h1>

    {{ include('flash.html.twig') }}

    <div class="item">
        <div class="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <a href="{{ path('profile_new') }}" class="form-control w70 btn btn-square">New profile</a>
                </div>
            </div>
        </div>
        <table
                data-toolbar=".toolbar"
                data-virtual-scroll="true"
                data-search="true"
                data-toggle="table"
                data-show-columns="true"
        >
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>Author</th>
                <th>Enable</th>
                <th>No. of subscribers</th>
                <th>No. of logs</th>
                <th>Other actions</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
                <tr>
                    <td>{{ profile.id }}</td>
                    <td>{{ profile.title }}</td>
                    <td>{{ profile.created ? profile.created|ago : 'just now' }}</td>
                    <td><a href="{{ path('user_show', {'id' : profile.author.id}) }}" class="links">{{ profile.author.username }}</a></td>
                    <td>{{ profile.enable ? 'Yes' : 'No' }} </td>
                    <td>
                        {% if profile.subscriptions is not empty %}
                            {{ profile.subscriptions|length }}
                        {% else %}
                            for everyone
                        {% endif %}
                    </td>
                    <td>
                        {% if profile.logs is not empty %}
                            {{ profile.logs|length }}
                        {% else %}
                            No logs yet
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('profile_download', {'id': profile.file.id}) }}" target="_blank" class="links" >download</a>
                        <a href="{{ path('profile_show', {'id': profile.id}) }}" class="links">show</a>
                        <a href="{{ path('profile_edit', {'id': profile.id}) }}" class="links">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
