{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
    <style>
        #profile_show_table{
            float: left;
        }

        #profile_show_table_subscribers{
            float: left;
        }
    </style>


{% endblock %}

{% block body %}
    <h1 class="pb-3 pt-5">Profile</h1>

    {{ include('flash.html.twig') }}

    <div class="w-50" id="profile_show_table">
        <div class="item">
            <div class="toolbar_show pb-3">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <a href="{{ path('profile_index') }}" class="form-control w70 btn btn-square">Back to list</a>
                    </div>
                    <div class="form-group">
                        <a target="_blank" href="{{ path('profile_download', {'id': profile.id}) }}" class="form-control w70 btn btn-square">Download</a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group">
                        <a href="{{ path('profile_edit', {'id': profile.id}) }}" class="form-control w70 btn btn-square">Edit</a>
                    </div>
                    <div class="form-group">
                        <button type="button" class="form-control w70 btn btn-square" data-toggle="modal" data-target="#exampleModal">
                            Upload
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="form-control w70 btn btn-square" data-toggle="modal" data-target="#logsModal">
                            Logs
                        </button>
                    </div>
                    <div class="form-group">
                        {{ include('profile/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <table class="table" >
            <thead>
            <tr>
                <td colspan="2">Profile info</td>
            </tr>

            </thead>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ profile.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ profile.title }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ profile.created ? profile.created|ago : 'just now' }}</td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td><a href="{{ path('user_show', {'id' : profile.author.id}) }}" class="links">{{ profile.author.username }}</a></td>
                </tr>
                <tr>
                    <th>Enable</th>
                    <td>{{ profile.enable ? 'Yes' : 'No' }}</td>
                </tr>
                {% if profile.file %}
                <tr>
                    <th>File id</th>
                    <td>{{ profile.file.id }}</td>
                </tr>
                <tr>
                    <th>File name</th>
                    <td>{{ profile.file.filename }}</td>
                </tr>
                <tr>
                    <th>File extention</th>
                    <td>{{ profile.file.extention }}</td>
                </tr>
                <tr>
                    <th>File version</th>
                    <td>{{ profile.file.version }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">This profile has no file yet</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="w-25 p-3 pt-5 pl-5" id="profile_show_table_subscribers">
    <table class="table" >
        <thead>
            <tr>
                <th>Subscribed&nbsp;users</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions  %}
            <tr>
                <td> <a href="{{ path('user_show', {'id': subscription.user.id}) }}" class="links">{{ subscription.user.username }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">This profile is shared with everyone</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <!-- Modal upload new profile-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload new profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(upload, {'attr': {'class': 'border border-light p-5'}}) }}
                <div class="modal-body">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                {{ form_widget(upload.file, { 'attr': {'class': 'custom-file-inpu', 'aria-describedly': 'fileInput'}}) }}
                            </div>
                        </div>
                    {% if profile.file.attemptToChangeBy %}
                        <div style="color:red">Account <strong>{{ profile.file.attemptToChangeBy.username }}</strong> locked this profile.</div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {{ form_widget(upload.attemptToSave, { 'attr': {'class': 'btn btn-primary' }} ) }}
                    {{ form_widget(upload.save, { 'attr': {'class': 'btn btn-primary' }} ) }}

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                {{ form_end(upload) }}
            </div>
        </div>
    </div>

    <!-- Modal show logs -->
    <div id="logsModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Logs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-modal"
                           class="table" >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Profile</th>
                                <th>Author</th>
                                <th>Type</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in profile.logs  %}
                                <tr>
                                    <td>{{ log.id }}</td>
                                    <td><a href="{{ path('profile_show', {'id' : log.profile.id})}}" class="links">{{ log.profile.title }}</a></td>
                                    <td><a href="{{ path('user_show', {'id' : log.author.id})}}" class="links">{{ log.author.username }}</a></td>
                                    <td>{{ log.type }}</td>
                                    <td>{{ log.created|ago }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-square" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
