{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <h1 class="pt-5 pb-3">User table</h1>
    <div class="toolbar_user">
        <a href="{{ path('app_register') }}" class="btn btn-square">New user</a>
    </div>

    <div class="item">
        <table
            data-toolbar=".toolbar_user"
            data-virtual-scroll="true"
            data-toggle="table"
            data-search="true"
            data-show-columns="true"
        >
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% for role in user.roles %}
                            <p>{{ role }}</p>
                        {% endfor %}
                    </td>
                    <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                    <td>{{ user.created ? user.created|ago : 'just now' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


