{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
    <div class="w-50 p-3" id="profile_show_table">
        <div class="item">
            <div class="toolbar pb-3">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <a href="{{ path('user_index') }}" class="form-control w70 btn btn-square">Back to list</a>
                    </div>
                    <div class="form-group">
                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="form-control w70 btn btn-square">Edit</a>
                    </div>
                    <div class="form-group">
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <table
                data-toolbar=".toolbar"
                data-toggle="table"
                data-show-columns="true"
                detailView: true
        >
            <theard>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{% for role in user.roles %}
                            {{ role }}
                        {% endfor %} </td>
                </tr>
                <tr>
                    <th>Enabled</th>
                    <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ user.created ? user.created|ago : '' }}</td>
                </tr>
            </theard>
        </table>
    </div>


{% endblock %}
